body {
  background: #333;
  color: #fefefe;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  min-height: 90px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

header > div {
  min-height: 70px;
}

header img {
  float: left;
  padding: 10px 30px 10px 0;
}

.title-and-last-updated {
  min-width: 300px;
}

h1 {
  margin: 10px 0;
  font-weight: normal;
}

h2 {
  margin: 0.5em 0;
  font-weight: normal;
  font-style: italic;
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
}

h3 {
  margin: 0.5em 0;
  font-weight: normal;
}

.title-and-last-updated p {
  color: #ccc;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0;
}

main {
  padding: 10px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 30px 20px;
}

.numbers div {
  text-align: center;
  flex-basis: 120px;
  flex-grow: 2;
}

.numbers h3 {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

.arrow {
  font-size: 1.4em;
  font-weight: bold;
}

.arrow.up {
  color: #59922b;
}

.arrow.down {
  color: #d70206;
}

footer {
  margin-top: 1.5em;
}

footer p {
  text-align: center;
  color: #aaa;
  font-size: 0.9em;
}

/* Charts */

.ct-chart .ct-label {
  color: #ffffff;
}

.key span {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.key .colour1 {
  color: #d70206;
}

.key .colour2 {
  color: #f05b4f;
}

.key .colour3 {
  color: #f4c63d;
}
